 
 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Rye&display=swap');
 
 


@tailwind base;
@tailwind components;
@tailwind utilities;

/* xxxxxxxxxxxxxxxxxxxxxx its all about ⬇️the Button  xxxxxxxxxxxxxxxxxx */
 #search-button {
   border:none;
   width: 200px;
   height: 50px;
   border-radius: 10px;
   background-color:red;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
   top:200px;
   color: blanchedalmond;
   font-family: 'Rye', cursive;
   font-size: 1.5rem;
   font-weight: 800;
   transition: all 0.5s
}

#search-button h3 {
   margin: 0;
   padding: 0;
}  
#search-button:hover {
   background-color: rgba(255 , 68, 99)
}
#search-button:active {
   background-color: rgba(153 , 21, 47)
}
#search-button .loading {
    width: 25px;
      height: 25px;
      border-radius: 50%;
      box-sizing: border-box;
      border: 5px solid rgba(0, 0, 0, .2);
      border-right-color: rgba(245, 239, 239);
      animation: loading-animation 2s linear infinite;
}
#search-button .loading * {
     display: none;
}


 @keyframes loading-animation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
 }



/* xxxxxxxxxxxxxxxxxxxxxx its all about ⬇⬆️the Button xxxxxxxxxxxxxxxxxx */



/* xxxxxxxxxxxxxxxxxxxxxx its all about ⬇️the BEESxxxxxxxxxxxxxxxxxx */
.container {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    height: 100vh;
    display : flex;
    border: 3px solid black; 
    border-radius: 10px;
    background-color: #7d6262;
    margin: 0 auto;
   }
  #beeSpin {
   rotate: 25deg;
}
#beeSpin2 {
   rotate: 247deg;
}
.item {
  width: 50px;  
  height: 50px;  
}
.kyleVideo {
   position: absolute;
   top: 36px;
   z-index: 50;
   font-weight: 800;
   font-size: 1rem;
   border: 2px solid black;
 }
.kPowellVideo {
   position: absolute;
   top:5px;
   z-index: 50;
   font-weight: 800;
   font-size: 1rem;
   border: 2px solid black;
 }
 
div.reference::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 282px;
   height: 99vh;
   background: rgba(67, 31, 31, 0.32);
}
/* xxxxxxxxxxxxxxxxxxxxxx its all ⬆️ about the BEESxxxxxxxxxxxxxxxxxx */
/* xxxs */
@media (min-width: 300px) {
     .container {
        max-width: 300px;
     }
  } 
@media (min-width: 350px) {
     .container {
        max-width: 350px;
     }
  } 
/* xxs */
  @media (min-width: 400px) {
.container {
        max-width: 400px;
     }
  } 
   /* xs */
  @media (min-width: 500px) {
.container {
        max-width: 500px;
     }
  } 
   /* s */
  @media (min-width: 640px) {
.container {
        max-width: 640px;
     }
  }  
/* md */
  @media (min-width: 768px) {
.container {
        max-width: 768px;
     }
    } 
/* lg */
  @media (min-width: 1024px) {
     .container {
               max-width: 1024px;
     }  
  }  
/* xl */
  @media (min-width: 1280px) {
.container {
        max-width: 1280px;
     }
  }  
/* 2xl */
 @media (min-width: 1536px) {
.container {
        max-width: 1536px;
}
 }  